{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}

<h1>{% trans "Please Check Your Email" %}</h1>
<h3>{% trans "A confirmation message has been sent to your email address." %}</h3>

<p>{% trans "Please check your email to complete the registration process." %}</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
