{% include "floppyforms/input.html" %}


<!--
  This doesnt quite work, need to do something similar to get the actual values
  to display and not just the slider... looking at

  http://jqueryui.com/slider/#range

<input type="text" id="{{attrs.id}}-slider" readonly style="border:0; color:#f6931f; font-weight:bold;">

<div id="{{ attrs.id }}" style="color:white;"></div>
<input type="text" id="{{attrs.id}}" />
-->


<div id="{{ attrs.id }}-slider"></div>

<script type="text/javascript">
$(document).ready(function() {
  var type = $('<input type="range" />').attr('type');
  if (type == 'text') { // No HTML5 support
    $('#{{ attrs.id }}').attr("readonly", true);
    $('#{{ attrs.id }}-slider').slider({
      {% if value %}value: {{ value }},{% endif %}
      min: {{ attrs.min }},
      max: {{ attrs.max }},
      step: {{ attrs.step }},
      slide: function(event, ui) {
        $('#{{ attrs.id }}').val(ui.value);
      }
    });
  }
});
</script>


{% comment %}
<!-- jqueryUI slider that populates values... -->


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Snap to increments</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#slider" ).slider({
      value:100,
      min: 0,
      max: 500,
      step: 50,
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
  });
  </script>
</head>
<body>
  <p>
    <label for="amount">Donation amount ($50 increments):</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>
  <div id="slider"></div>
</body>
</html>

{% endcomment %}
