<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=resosu-20&o=1&p=48&l=ur1&category=camera&banner=19BENSW5HYBZ4GW74NG2&f=ifr&linkID=KY5Y7E37DJYFRCSC" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

{% comment %}
<!-- javascript version -->

<div class="alignleft">
<script type='text/javascript'>
amzn_assoc_ad_type = 'banner';
amzn_assoc_tracking_id = 'resosu-20';
amzn_assoc_marketplace = 'amazon';
amzn_assoc_region = 'US';
amzn_assoc_placement = 'assoc_banner_placement_default';
amzn_assoc_linkid = 'B7P4TZR5MVZCS6D7';
amzn_assoc_campaigns = 'camera';
amzn_assoc_p = '48';
amzn_assoc_banner_type = 'category';
amzn_assoc_isresponsive = 'false';
amzn_assoc_banner_id = '19BENSW5HYBZ4GW74NG2';
amzn_assoc_width = '728';
amzn_assoc_height = '90';
</script>
<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>

{% endcomment %}
