<!-- as iframe -->
<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=resosu-20&o=1&p=12&l=ur1&category=camera&banner=1JQWZJX6YHAMT69PQH82&f=ifr&linkID=4X27UYGT3SKUWNOQ" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

{% comment %}
<!-- javascript version -->
<div class="alignleft">
<script type='text/javascript'>
amzn_assoc_ad_type = 'banner';
amzn_assoc_tracking_id = 'resosu-20';
amzn_assoc_marketplace = 'amazon';
amzn_assoc_region = 'US';
amzn_assoc_placement = 'assoc_banner_placement_default';
amzn_assoc_linkid = 'OSVLYF2G2T2KJIDR';
amzn_assoc_campaigns = 'camera';
amzn_assoc_p = '12';
amzn_assoc_banner_type = 'category';
amzn_assoc_isresponsive = 'false';
amzn_assoc_banner_id = '1JQWZJX6YHAMT69PQH82';
amzn_assoc_width = '300';
amzn_assoc_height = '250';
</script>
<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>

{% endcomment %}
