<footer>
  <div class="container footer col-md-12">
    <div class="row">
      <p class="text-center">
        &copy; {%now "Y"%} <a href="http://lensreview.photography">LensReview.Photography</a>
        by <a href="http://ajc.technology">AJC.</a>
        <br>
        All Rights Reserved
      </p>
    </div>

    <div class="row">
      <p class="text-center" style="font-size:70%;">
        <a href="#">Privacy</a>
        |
        <a href="#">Terms of Use</a>
      </p>
    </div>
  </div>
</footer>
